doctype html
html(lang='en')
  head
    title Reset password
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(charset='UTF-8')
    // Font
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CPoppins:400,500', rel='stylesheet')
    link(href='/css/ionicons.css', rel='stylesheet')
    link(href='/css/styles_main.css', rel='stylesheet')
    link(href='/css/responsive.css', rel='stylesheet')
  body
    .main-area.center-text(style='background-image:url(/img/pexel.jpg);')
      .display-table
        .display-table-cell
          h1.title.font-white
            b Reset Password
          p.desc.font-white
            | We received a request to reset your Warchest password. We're here to help you! Simply click on the button to set a new password.
          a.notify-btn(href=`/users/resetPassword/${token}`)

            b RESET NOW
          ul.social-btn.font-white
            li
              a(href='#') facebook
            li
              a(href='#') twitter
            li
              a(href='#') google
            li
              a(href='#') instagram
          // social-btn
          // display-table
          // display-table-cell
          // main-area
